# Função Para Carregar Dados da API do BCB

## Carregando as Bibliotecas

In [1]:
import pandas as pd

## Função para coletar dados direto do BCB

In [4]:
def consulta_SGSbc(serialcode, initialdate, finaldate):
    # Formatando a URL para o requerimento
    url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json&dataInicial={}&dataFinal={}'.format(serialcode, initialdate, finaldate)
    # Recebendo e transformando os dados json em um DataFrame
    df = pd.read_json(url)
    return df

Na função para consultar séries temporais do Banco Central, informar: <br />
    -> Primeiro informar o código da série (consultar código em https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries) <br />
    -> Segundo informar a data inicial no formato dd/MM/aaaa <br />
    -> Terceiro informar a data final no formato dd/MM/aaaa

In [8]:
# Aqui como exemplo estou pegando os dados da taxa Selic

Selic = consulta_SGSbc(11, '01/01/2012', '31/01/2022' )
display(Selic)

            data     valor
0     30/12/2011  0.041099
1     02/01/2012  0.041063
2     03/01/2012  0.041063
3     04/01/2012  0.041063
4     05/01/2012  0.041063
...          ...       ...
2529  25/01/2022  0.034749
2530  26/01/2022  0.034749
2531  27/01/2022  0.034749
2532  28/01/2022  0.034749
2533  31/01/2022  0.034749

[2534 rows x 2 columns]